#footer {
  background-image:
  linear-gradient(181deg, rgba(218,214,214,.5) 0%, rgba(146,191,177,.5) 2%, rgba(180,127,98,.5) 53%, rgba(104,71,86,.5) 79%, rgba(61,49,74,.5) 98%, rgba(218,214,214,.5) 100%),
    url("http://api.thumbr.it/whitenoise-361x370.png?background=4ea6caff&noise=626262&density=64&opacity=53");
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 8px;
  padding-top: 15px;
}
.companyBottom {
  font-family: 'Pacifico', cursive;
  padding-right: 7vw;
  padding-top: 15px;
}
.navP {
  color: #684756;
  padding-right: 7vw;
}
