.cardClass{
  margin: 0, auto;
  height: 40vw;
  width: 40vw;
  min-width: 360px;
  text-shadow: 1px 1px 2px black, 0 0 0.5em grey, 0 0 0.2em darkgrey;
  font-family: 'Pacifico', cursive;
  margin-top: 8px;
}
.cardImg{
  height: 40vw;
  min-height: 360px;
  width: 40vw;
  min-width: 360px;
}
.kegsAvailableDiv{
  margin-left: 26vw;
  margin-bottom: 50px;
  padding-bottom: 85px;
}
a{
  color: white;
  text-align: right;
}
.cardTitle{
  margin-bottom: 16px;
  width:  360px;
  font-size: 40px
}
.cardTextOverlay{
  margin-top: 50px;
}
.card-text{
  margin-top: 75px;
}
